@use '/src/scss/meyer';
@use '/src/scss/breakpoints' as *;
@use '/src/scss/colors';
@use '/src/scss/pageinit';
@use '/src/scss/modal';
@use '/src/scss/projectsview';
@use '/src/scss/helpmenu';





/* all styles after this overwrite imports/meyer */
body {
    // background-color: lightcoral;
    background-color: colors.$stone50;
    color: red;
}


h1 {
    background-color: colors.$stone900;
    color: red;

    @include tablet {
        background-color: colors.$stone400;
        color: blue;
    }
    
    @include desktop {
        background-color: colors.$stone50;
        color: green;
    }
}