@use "./colors";
@use "./breakpoints";

.modal-card-settings {
    color: black;

}

.v-item-name-head, .v-item-desc-head, .v-item-date-head {
    font-size: 1.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

.v-item-name, .v-item-desc, .v-item-form {
    font-size: 1rem;
    padding: 0 0.5rem 1rem 0.5rem;
}


// .v-item-name-head {

// }

// .v-item-name {

// }

// .v-item-desc-head {

// }

// .v-item-desc {

// }

// .v-item-date-head {

// }

// .v-item-form {

// }